/.github/
/.vscode/
/node_modules/
/build/
/tmp/
.idea/*
/docs/

coverage
*.log

package-lock.json
/*.tgz
/tmp*
/mnt/
/package/
/src/test/
*.test.ts

npm-debug.log*
yarn-debug.log*
yarn-error.log*
babel-debug.log

.babelrc
.browserslistrc
.editorconfig
.eslintignore
.eslintrc.js
.gitlab-ci.yml
jest.config.js
.prettierrc
tsconfig.json
/scripts/
esbuild.js
babel.config.json
babel.config.node.json
